/* Including styles files */
@import sprite.sass


/* Including fonts */
@font-face
	src: url('../../fonts/Gotham Pro Light.ttf')
	font-family: 'Gotham Pro'
	font-weight: 300

@font-face
	src: url('../../fonts/Gotham Pro Regular.otf')
	font-family: 'Gotham Pro'
	font-weight: 400

@font-face
	src: url('../../fonts/Gotham Pro Medium.otf')
	font-family: 'Gotham Pro'
	font-weight: 500

@font-face
	src: url('../../fonts/Gotham Pro Bold.otf')
	font-family: 'Gotham Pro'
	font-weight: 700

@font-face
	src: url('../../fonts/Gotham Pro Black.otf')
	font-family: 'Gotham Pro'
	font-weight: 900



/* Global settings */
$font-size: 16px
$font-family-1: 'Gotham Pro', sans-serif
$color-1: #272524



*
	padding: 0
	margin: 0
	border: 0
	box-sizing: border-box

body
	font-size: $font-size
	font-family: $font-family-1
	color: $color-1
	background: white

header, nav, main, section, article, aside, footer, li, .block
	display: block

.inline-block
	display: inline-block

.hidden
	display: none



h1, h2, h3, h4, h5, h6
	font-size: inherit
	font-weight: inherit


ul
	font-size: 0
	li
		display: inline-block
		font-size: $font-size
		list-style-type: none


a
	color: $color-1
	text-decoration: none
	border-bottom: 1px solid transparent
	transition: .3s

img
	display: block


.icon
	display: inline-block
	vertical-align: middle

.input, .button, .slick-slide, .textarea
	outline: none

/* Grid */
.container
	position: relative
	width: (1140px + 30px)
	padding-left: 15px
	padding-right: 15px

.row, .clearfix
	&:before, &:after
		display: table
		content: ''
		box-sizing: border-box
	&:after
		clear: both

.row_line
	text-align: center
	font-size: 0

.col
	min-height: 1px
	float: left
	display: block
	&_line
		display: inline-block
		vertical-align: top
		font-size: $font-size
		min-height: 1px
	&-1
		width: (100% / 1)
	&-2
		width: (100% / 2)
	&-3
		width: (100% / 3)
	&-4
		width: (100% / 4)
	&-5
		width: (100% / 5)
 

	



/* Form elements */
.input
	display: block
	font-size: $font-size
	font-family: $font-family-1
	background: white
	width: 100%
	&::placeholder
		color: #878686

.textarea
	font-size: $font-size
	font-family: $font-family-1
	display: block
	background: white
	resize: none
	border: 1px solid #f0f0f0
	&::placeholder
		color: #878686


.button
	position: relative
	display: block
	font-size: $font-size
	font-family: $font-family-1
	cursor: pointer
	margin-left: auto
	margin-right: auto
	text-align: center
	transition: .3s
	border-radius: 50px
	&_blue
		width: 250px
		font-size: 22px
		font-weight: 500
		box-shadow: inset 0 -2px 3px 1px rgba(0, 0, 0, 0.15)
		background-color: #7adcc9
		padding: 20px 5px 15px
		&:hover
			background-color: #fd9b00

.input, .textarea
	transition: border-color .3s




/* Blocks align */ 
.left
	float: left

.right
	float: right

.center, .container
	margin-left: auto
	margin-right: auto


.popup
	display: none

.panel
	padding-top: 4px
	padding-bottom: 8px
	box-shadow: inset 0 -2px 3px 1px rgba(0, 0, 0, 0.15)
	&__logo
		position: relative
		z-index: 3
		width: 88px
	&__nav
		margin-left: 20px
	&__contacts
		width: 165px
		float: right
		color: #64b7a7
		text-align: right
		font-size: 17px
		padding-top: 25px
		a
			color: #64b7a7
			font-weight: 700
	&__socials
		margin-top: 6px
		li
			margin-left: 18px
			&:first-of-type
				margin-left: 0

.panel__nav, .nav-fixed
	text-transform: uppercase
	font-weight: 500
	padding-top: 47px
	text-align: center
	li
		position: relative
		vertical-align: middle
		font-size: 15px
		margin-left: 25px
		margin-right: 25px
		line-height: 19px
		&:hover
			> ul
				opacity: 1
				z-index: 2
				transform: translateY(0px)
		&:nth-of-type(1), &:nth-of-type(2)
			> ul
				top: 30px
		&:nth-of-type(4)
			width: 135px
			> ul
				top: 40px
		&:nth-of-type(5)
			width: 106px
		&:nth-of-type(6)
			width: 100px
		&.selected
			a
				color: #64b7a7
		a
			padding-bottom: 30px
			&:hover
				color: #64b7a7
		> ul
			z-index: -2
			opacity: 0
			transform: translateY(50px)
			transition: .3s
			display: block
			position: absolute
			background: white
			width: 240px
			margin-left: -120px
			left: 50%
			top: 100%
			margin-top: 10px
			padding: 20px 0 20px
			box-shadow: inset 0 -2px 3px 1px rgba(0, 0, 0, 0.15)
			li
				display: block
				width: auto !important
				margin-left: 0
				margin-right: 0
				height: auto
			a
				display: block
				padding: 9px 0 7px
				&:hover
					color: $color-1
					background-color: #7adcc9

.nav-fixed
	display: none
.icon-
	&insta-black
		&:hover
			@include sprite($insta-blue)

	&youtube-black
		&:hover
			@include sprite($youtube-blue)

	&vk-black
		&:hover
			@include sprite($vk-blue)



.banner
	position: relative
	&__img
		position: relative
		&:after
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: rgba(0,0,0,.6)
		img
			margin-left: auto
			margin-right: auto

	&__wrap
		z-index: 1
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		color: white
		text-align: center
		padding-top: 160px

	&__title
		font-size: 36px
		max-width: 665px
		margin-left: auto
		margin-right: auto
		font-weight: 900
		margin-bottom: 40px

	&__desc
		font-size: 22px
		font-weight: 700
		margin-bottom: 45px


.ny2018
	padding-top: 60px
	padding-bottom: 80px
	&__img

	&__content
		float: right
		width: 100%
		max-width: 490px
		padding-top: 20px

	&__title
		font-size: 32px
		font-weight: 500
		color: #fd9b00
		line-height: 40px
		margin-bottom: 40px

	&__text
		max-width: 390px
		font-size: 22px
		line-height: 28px
		margin-bottom: 45px
		strong
			font-weight: 500

	&__link
		margin-bottom: 45px
		a
			color: #fd9b00
			border-color: #fd9b00
			font-size: 22px
			font-weight: 700
			&:hover
				border-color: transparent
