.icon-arrow-curve-down {
  background-image: url(../../img/sprite.png);
  background-position: 0px -202px;
  width: 86px;
  height: 29px; }

.icon-arrow-curve-up {
  background-image: url(../../img/sprite.png);
  background-position: -86px -202px;
  width: 86px;
  height: 29px; }

.icon-arrow-down {
  background-image: url(../../img/sprite.png);
  background-position: -272px -184px;
  width: 40px;
  height: 40px; }

.icon-arrow-left {
  background-image: url(../../img/sprite.png);
  background-position: -31px -268px;
  width: 31px;
  height: 51px; }

.icon-arrow-right {
  background-image: url(../../img/sprite.png);
  background-position: 0px -268px;
  width: 31px;
  height: 51px; }

.icon-arrow-up {
  background-image: url(../../img/sprite.png);
  background-position: -272px -144px;
  width: 40px;
  height: 40px; }

.icon-call {
  background-image: url(../../img/sprite.png);
  background-position: -221px -51px;
  width: 51px;
  height: 51px; }

.icon-clock {
  background-image: url(../../img/sprite.png);
  background-position: -102px -151px;
  width: 51px;
  height: 51px; }

.icon-close {
  background-image: url(../../img/sprite.png);
  background-position: -198px -202px;
  width: 26px;
  height: 26px; }

.icon-delivery-truck {
  background-image: url(../../img/sprite.png);
  background-position: -150px 0px;
  width: 71px;
  height: 49px; }

.icon-hit {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 150px;
  height: 151px; }

.icon-human {
  background-image: url(../../img/sprite.png);
  background-position: -272px -102px;
  width: 42px;
  height: 42px; }

.icon-insta-big-blue {
  background-image: url(../../img/sprite.png);
  background-position: 0px -151px;
  width: 51px;
  height: 51px; }

.icon-insta-big-orange {
  background-image: url(../../img/sprite.png);
  background-position: -51px -151px;
  width: 51px;
  height: 51px; }

.icon-insta-black {
  background-image: url(../../img/sprite.png);
  background-position: -172px -202px;
  width: 26px;
  height: 26px; }

.icon-insta-blue {
  background-image: url(../../img/sprite.png);
  background-position: -224px -202px;
  width: 26px;
  height: 26px; }

.icon-mail {
  background-image: url(../../img/sprite.png);
  background-position: -114px -268px;
  width: 19px;
  height: 15px; }

.icon-medic-folder {
  background-image: url(../../img/sprite.png);
  background-position: -150px -49px;
  width: 65px;
  height: 49px; }

.icon-money {
  background-image: url(../../img/sprite.png);
  background-position: -221px -151px;
  width: 51px;
  height: 47px; }

.icon-people-blue {
  background-image: url(../../img/sprite.png);
  background-position: -102px -231px;
  width: 51px;
  height: 33px; }

.icon-people {
  background-image: url(../../img/sprite.png);
  background-position: -150px -98px;
  width: 57px;
  height: 49px; }

.icon-phone {
  background-image: url(../../img/sprite.png);
  background-position: -250px -202px;
  width: 19px;
  height: 19px; }

.icon-present {
  background-image: url(../../img/sprite.png);
  background-position: -272px -51px;
  width: 39px;
  height: 51px; }

.icon-ruble {
  background-image: url(../../img/sprite.png);
  background-position: -272px 0px;
  width: 47px;
  height: 51px; }

.icon-smiley-white {
  background-image: url(../../img/sprite.png);
  background-position: -221px 0px;
  width: 51px;
  height: 51px; }

.icon-smiley {
  background-image: url(../../img/sprite.png);
  background-position: -153px -151px;
  width: 51px;
  height: 51px; }

.icon-thumbs-up {
  background-image: url(../../img/sprite.png);
  background-position: -221px -102px;
  width: 51px;
  height: 49px; }

.icon-vk-big-blue {
  background-image: url(../../img/sprite.png);
  background-position: -204px -231px;
  width: 51px;
  height: 31px; }

.icon-vk-big-orange {
  background-image: url(../../img/sprite.png);
  background-position: -153px -231px;
  width: 51px;
  height: 31px; }

.icon-vk-black {
  background-image: url(../../img/sprite.png);
  background-position: -62px -268px;
  width: 26px;
  height: 16px; }

.icon-vk-blue {
  background-image: url(../../img/sprite.png);
  background-position: -88px -268px;
  width: 26px;
  height: 16px; }

.icon-youtube-big-blue {
  background-image: url(../../img/sprite.png);
  background-position: -51px -231px;
  width: 51px;
  height: 37px; }

.icon-youtube-big-orange {
  background-image: url(../../img/sprite.png);
  background-position: 0px -231px;
  width: 51px;
  height: 37px; }

.icon-youtube-black {
  background-image: url(../../img/sprite.png);
  background-position: -255px -231px;
  width: 26px;
  height: 20px; }

.icon-youtube-blue {
  background-image: url(../../img/sprite.png);
  background-position: -281px -231px;
  width: 26px;
  height: 20px; }
